<!DOCTYPE html>
<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="nav-header text-center text">
					<h3 href="#">HandleBar</h3>
				</div>
			</div>
		</nav>
		<div id="ToolWrapper" class="container">
			<div class="row dispInputFiles">
				<div class="col-md-6 dispClmn">
					<label for="" class="txtLabel">Input XML</label>
					<textArea id="txtXml" class="txtArea inputTextArea"></textArea>
					<input id="InputXml" type="file" class="btnBrowse btn btn-primary" accept=".xml"/>
				</div>
				<div class="col-md-6 dispClmn">
					<label for="" class="txtLabel">Input Json</label>
					<textArea id="txtJson" class="txtArea inputTextArea"></textArea>
					<input id="InputJson" type="file" class="btnBrowse btn btn-primary" accept=".json"/>
				</div>
			</div>
			<div class="row text-center submitrow">
				<button type="button" class="btn btn-primary" id="btnSubmit" onclick="frmSubmit();">Submit</button>
			</div>
			<div class="row dispOutputFiles">
				<div class="dispClmn">
					<label for="" class="txtLabel">Result</label>
					<textArea id="txtOutput" class="txtArea"></textArea>
				</div>				
			</div>
		</div>
	</body>
	<script>
		$('#InputXml').on('change',function(e){
			var file = this.files[0];
			var reader=new FileReader();
			reader.onload = function(e){
				$("#txtXml").val(reader.result);
			}
			reader.readAsText(file);
		});
		$('#InputJson').on('change',function(e){
			var file = this.files[0];
			var reader=new FileReader();
			reader.onload = function(e){
				$("#txtJson").val(reader.result);
			}
			reader.readAsText(file);
		});

		function frmSubmit(){
			$.ajax({
				url : 'result',
				type : 'POST',
				data : {xml:$("#txtXml").val(),json:$("#txtJson").val()},
				success : function(data){
					$("#txtOutput").val(data);
				}
			});
		}
	</script>
</html>
